*,
*::before,
*::after {
    box-sizing: border-box;
}

img{
    display: block;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 0px;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}

h3 {
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}



.h1-button:hover {
    cursor: pointer;
}

.h1-button {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;
    font-weight: medium;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.ilk-sec{
    
    
    background-image: url(../images/background-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 188px;
    padding-bottom: 188px;
    position: relative;
    
}

.ilk-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E2F42B3;
    z-index: 1;
}

.ilk-sec .baslik,
.ilk-sec .h1-button {
    position: relative;
    z-index: 2;
}


ul{
    list-style: none;
}

footer{
   
    background-color: #2E2F42;
    padding: 100px 0;
    display: flex;
    position: relative;
}


.team{
    background-color: #F4F4FD;
    
}




.logo-one{
    color: #4D5AE5;
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-two{
    color: #F4F4FD;
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-diffclr{
    color: #2E2F42;
    font-family: "Raleway";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.navi{
    color: #2E2F42;
    display: flex;
    gap: 40px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
        
}

.adres{
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    gap: 40px;

}

.transform:hover{
    color: #404BBF;
}


.changed:hover{
    color: #404BBF;
}

.h1-button:hover{
    background-color: #404BBF;
}

.container {
    width: 1440px;
    margin: 0 auto;
    
}

.logo {
    display: flex;
}

address {
    display: flex;
}

.ustmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ortala
 {
    text-align: center;
 }

 .texts {
    display: flex;
    gap: 24px;
    margin-left: 156px;
    margin-right: 156px;
 }


 .team-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
    
 }

 .baslikteam {
    text-align: center;
 }

 .altyazi {
    background-color: white;
 }

 .resimalti {
    background-color: white;
 }

 section {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .alt-duzen {
    position: relative;
    color: #F4F4FD;
    width: 264px;
    margin-left: 156px;
 }

 .team-card {
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .port-card {
    background-color: white;
    border-width: 0px 1px 1px 1px;
    position: relative;
    border-style: solid;
    
    border-color: #E7E9FC;
    gap: 24px;
    
 }

.port-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


 .contents {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
 }

.portmid {
    text-align: center;
}

.nav-duzenle {
    display: flex;
    align-items: center;
    gap: 72px;
}

.baslik{
    margin-bottom: 48px;
}

.bosluk {
    margin-top: 32px;
    margin-bottom: 32px;
}

.left {
    padding-left: 16px;
}

.bosluk h3 {
    margin-bottom: 8px;
}


.baslik-altbosluk {
    margin-bottom: 72px;
}


.ustmenu {
   margin-top: 24px;
   margin-bottom: 24px;
}

.alt-duzen p {
    margin-top: 16px;
}

.texts li h3 {
    margin-bottom: 8px;
}



.box {
    position: relative;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}

.icon {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.iconm {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bosluk p {
    margin-bottom: 8px;
}

.box-info {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    position: relative;
}

.social .info .box-info .iconm {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social {
    color: white;  
    margin-left: 120px;
       
}

.social p {
    margin-bottom: 16px;
}

.transform:active::after{
    width: 100%;
    height: 4px;
    background-color:#404BBF;
    border-radius: 2px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
}

.transform {
    position: relative;
}

.box-info:hover {
    cursor: pointer;
    background-color: #31D0AA;
}



.img-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    left: 0;
    top: 0;
    padding: 40px 32px 164px 32px;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card:hover .overlay {
    transform: translateY(0);
}

.logo:hover {
    cursor: pointer;
}

.box-info {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}


#foot-mail{
    margin-top: 16px;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: white;
    background-color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#foot-mail::placeholder {
    padding-left: 16px;
}


.footer-sub {
    color: white;
    position: absolute;
    top: 100px;
    right: 159px;
    display: flex;
}


.subutton {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fly {
    width: 24px;
    height: 20px;
}

.sub-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: white;
}

.subutton:hover {
    background-color: #31D0AA;
}

#foot-mail:hover {
    border-color: #31D0AA;
}